@charset "utf-8";
/* Small, Tablet */
/* body scroll no */
.scrollStop {overflow:hidden; position:fixed; width:100%; height:100%;}
.dim {display:none; position:fixed; top:0; left:0; z-index:11; width:100%; min-height:100%; background:#000000; opacity:0.5; filter:alpha(opacity=50);}
.layerPopWrap {display:none; overflow:auto; position:fixed; top:0; left:0; z-index:100; width:100%; height:100%;}
.popWrap {position:relative; margin:0 auto; background:#ffffff;}
.popWrap .btn {position:absolute; top:12px; right:10px;}
.popWrap .btn a {display:inline-block; background:url('../images/pc/popup/btnClose.png') no-repeat center; background-size:30px;}
.popWrap .btn a span {display:block; width:30px; height:30px; text-indent:-9999px;}

h2.popTit {padding:12px 0; margin:0; /* background:url('../images/pc/popup/popLogo.png') no-repeat 20px center; background-size:34px; border-bottom:1px solid #cccccc;*/ color:#1a1a1a; font-size:25px; font-size:2.5rem; line-height:120%; text-align:center;}

.popConW {padding:15px 3% 20px 3%;}
.pW03 .popConW {padding:15px 6% 20px 6%;}

.popConW .tblType01 th {width:35%; padding-left:3%; padding-right:3%;}
.popConW .tblType01 td {padding-left:3%; padding-right:3%;}
.popConW .boxC01 .tblType01 td {padding-left:0;}
.sliptd {vertical-align:top;} /* slip td */

.popWrap.pW03 {width:330px;}/* alert */
.popWrap .alertCon {text-align:center;}
.popWrap .alertCon .ico01 {display:inline-block; width:55px; height:45px; margin-top:10px; background:url('../images/pc/popup/icoAlert.png') no-repeat; background-size:auto 45px;}
.popWrap .ico02 {display:inline-block; width:55px; height:45px; margin-top:10px; background:url('../images/pc/popup/icoCheck.png') no-repeat; background-size:auto 45px;}
.popWrap .alertCon p {padding:0; margin:0 0 10px 0;}
.popWrap .errorCon .tit {padding:0 0 0 18px; margin-top:10px; color:#cc0000; font-size:14px; font-size:1.4rem; font-weight:bold; background:url('../images/pc/popup/icoError.png') no-repeat 0 3px; background-size:14px auto;}
.popWrap .errorCon p {padding:0; margin:0 0 10px 0;}

.loadingWrap {position:relative; width:195px; margin:0 auto;}
.loadingWrap img {width:100%;}
.loadingWrap p {margin:-16px 0 0; text-align:center; color:#ffffff;}

.findTxt {overflow:hidden; position:relative; padding:0 0 0 10px; margin:20px 0; font-size:12px; font-size:1.2rem; color:#000000; font-weight: bold;}
.findTxt:before {content:''; position:absolute; width:2px; height:1px; top:10px; left:0; background:#000000;}
.processTxt {position:relative; margin-top:25px; border:1px solid #cccccc; padding:25px; text-align:center;}
.processTxt .logo {/* position:absolute; */}
.processTxt .logo img {/* width:100%; */height:20px; margin-top:20px;}
.processTxt p.guide01 {/* padding:0% 260px 2% 0; */color:#000000;}
.signWrap {overflow:hidden;}
.sign {float:right; margin-top:2%; width:113px; height:113px; border:2px solid #e24c27; border-radius:57px; text-align:center;}
.sign:after {display:block; clear:both; content:'';}
.sign p {display:block; margin:0; color:#333333; line-height:28px; font-size:14px; font-size:1.4rem; font-weight:bold; border-bottom:1px solid #e24c27;}
.sign p:first-child {margin-top:12px; font-size:12px; font-size:1.2rem;}
.sign p:last-child {border-bottom:none; font-size:12px; font-size:1.2rem;}
.popConW .btnremTop {margin-top:-50px;}

/*pin*/
.popWrap.pin01 {border:2px solid #008675; border-radius:0; box-sizing:border-box;}
.popWrap.pin01 .popConW {padding:20px 20px 15px 20px;}
.popWrap.pin01 .pinInput input {float:right; width:135px; box-sizing:border-box;}
.popWrap.pin01 .pinInput label {line-height:27px;}
.popWrap.pin01 .btn {top:3px; right:3px;}
.popWrap.pin01 .btn a {background-image:url('../images/pc/popup/btnClose02.jpg'); background-size:15px;}
.popWrap.pin01 .btn a:hover {background-color:transparent;}
.popWrap.pin01 h2.popTit {padding:3px 10px 3px 10px; text-align:left;}
.popWrap.pin01 h2.popTit img {width:100px;}
.popWrap.pin01 ul {overflow:hidden; display:inline-block; padding:0; list-style:none;}
.popWrap.pin01 ul li {float:left;}
.popWrap.pin01 ul li a {display:block; width:31px; height:30px; line-height:30px; font-weight:600; border:1px solid #d3d3d5; box-sizing:border-box; text-align:center;}
.popWrap.pin01 ul.pinNum {width:87.5%; margin:0 -2px;}
.popWrap.pin01 ul.pinNum li {margin:0 2px 4px 2px;}
.popWrap.pin01 ul.pinNum li a {background:rgb(255,255,255);
	background:-webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(250,254,255,1) 50%, rgba(235,242,245,1) 100%);
	background:-o-linear-gradient(rgba(255,255,255,1) 0%, rgba(250,254,255,1) 50%, rgba(235,242,245,1) 100%);
	background:linear-gradient(rgba(255,255,255,1) 0%, rgba(250,254,255,1) 50%, rgba(235,242,245,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebf2f5',GradientType=0); /* IE6-9 */
	font-size:17px; font-size:1.7rem; color:#333333;}
.popWrap.pin01 ul.pinNum li.empty a img {width:19px; padding-bottom:2px; vertical-align:middle;}
.popWrap.pin01 ul.pinBtn {width:31px; margin:0;}
.popWrap.pin01 ul.pinBtn li {width:100%; margin:0 0 4px 0;}
.popWrap.pin01 ul.pinBtn li a {background:rgb(86,86,86); /* Old browsers */
	background:-moz-linear-gradient(top, rgba(86,86,86,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6-15 */
	background:-webkit-linear-gradient(top, rgba(86,86,86,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background:linear-gradient(to bottom, rgba(86,86,86,1) 0%,rgba(52,52,52,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#565656', endColorstr='#343434',GradientType=0); /* IE6-9 */
	font-size:14px; font-size:1.4rem; border-color:#333333; color:#ffffff;}
.popWrap.pin01 ul.pinBtn li:first-child a img {width:17px; vertical-align:middle;}

.popWrap .logOutG {overflow:hidden;}
.popWrap .logOutG h4, .popWrap .logOutG p {float:left; width:73%;}
.popWrap .logOutG h4 {margin-top:5px;}
.popWrap .logOutG p {margin-bottom:0;}
.popWrap .logOutG .timerW {float:right; width:27%; margin-top:-20px; text-align:right;}
.popWrap .logOutG .timerW span {display:inline-block; width:92px; line-height:95px; font-size:36px; font-size:3.6rem; background:url('../images/pc/common/bg/bgLogoutT.png') no-repeat; text-align:center; color:#ffffff;}
/* Small */
@media (max-width:767px){
	h2.popTit {/* background-image:url('../images/mobile/popup/popLogo.png'); */ font-size:20px; font-size:2.0rem;}
	.popWrap.pW03 {margin:0 auto;}
	.popWrap {margin:2%;}

	.popWrap.pin01 {margin:0 5.5%;}
	.popWrap.pin01 .btn {top:5px; right:5px;}
	.popWrap.pin01 .btn a {background-image:url('../images/mobile/popup/btnClose02.jpg');}
	.popWrap.pin01 h2.popTit {padding:8px 13px;}
	.popWrap.pin01 ul li a {height:35px;}
	.popWrap.pin01 .pinInput label {line-height:35px;}
	.popWrap.pin01 ul.pinNum {width:86.9%; margin:0 -0.85%;}
	.popWrap.pin01 ul.pinNum li {width:14.9%; margin:0 0.85% 4px 0.85%;}
	.popWrap.pin01 ul.pinNum li a {width:100%;}
	.popWrap.pin01 ul.pinBtn {width:13.5%;}
	.popWrap.pin01 ul.pinBtn li a {width:100%;}

	.popConW .tblType01 th {width:100%;}
	.popConW .boxC01 .tblType01 td {padding-left:3%;}

	.findTxt {padding:0; font-size:12px; font-size:1.2rem; font-weight:bold; background:none;}
	.processTxt {padding-bottom:18%;}
	.processTxt .logo {bottom:-12px; left:0; width:60%;}
	.processTxt p.guide01 {padding-right:0;}
	.signWrap {margin-top:-18%;}
	.sign {width:94.6px; height:94.6px;}
	.sign p {font-size:12px; font-size:1.2rem; line-height:22px;}
	.sign p:first-child {font-size:10px; font-size:1.0rem;}
	.sign p:last-child {font-size:10px; font-size:1.0rem;}
	.popConW .btnremTop {margin-top:15px;}

	.popWrap .btn a {background-image:url('../images/mobile/popup/btnClose.png');}
	.popWrap .errorCon .tit {background-image:url('../images/mobile/popup/icoError.png');}
	.popWrap .alertCon .ico01 {background-image:url('../images/pc/popup/icoAlert.png');}
	.popWrap .ico02 {background-image:url('../images/mobile/popup/icoCheck.png');}

	.popWrap .logOutG h4 {width:100%; padding-bottom:6px; border-bottom:1px solid #ff734d;}
	.popWrap .logOutG p {width:66%;}
	.popWrap .logOutG .timerW {width:34%; margin-top:10px;}
	.popWrap .logOutG .timerW span {background-image:url('../images/mobile/common/bg/bgLogoutT.png'); background-size:91px;}
}

/* Small, Tablet portrait */
@media (min-width:768px) and (max-width:1023px){
	h2.popTit {font-size:20px; font-size:2.0rem;}
	.popWrap.pW03 {margin: 0 auto;}
	.popWrap {margin:2%;}
	.popWrap.pin01{width:285px; margin:0 auto;}
	.popWrap.pin01 h2.popTit {padding:8px 13px;}
	.popWrap.pin01 .pinInput label {line-height:35px;}

	/*.popConW .tblType01 th {width:100%;}*/
	.popConW .boxC01 .tblType01 td {padding-left:3%;}

	.processTxt .logo {top:0; right:0; width:30%; text-align:right;}
}

/* PC */
@media (min-width:1024px){
	
	.popWrap {margin-top:2%; margin-bottom:2%;}
	.popWrap.pW01 {width:600px;}
	.popWrap.pW02 {width:650px;}
	.popWrap.pin01 {width:285px;}
	.popWrap.pW04 {width:800px;}

	.popConW .input01 {width:100%;}
	.popConW .select01 {width:100%;}

	.popWrap .paraG {margin-top:20px !important;}
	
	.processTxt .logo {top:0; right:0; width:30%; text-align:right;}	
}